<?php if ($_item = $this->getItem()): ?>
    <h5 class="title"><span id="order_item_<?php echo $_item->getId() ?>_title"><?php echo $this->htmlEscape($_item->getName()) ?></span></h5>
    <div><strong><?php echo $this->helper('sales')->__('SKU') ?>:</strong> <?php echo implode('<br />', Mage::helper('catalog')->splitSku($this->htmlEscape($this->getSku()))); ?>
	<br/>
		<?php
            $product_options=$_item->getProductOptions();
            if($product_options['info_buyRequest']['mpassignproduct_id']){
                $collection = Mage::getModel('mpassignproduct/mpassignproduct')->load($product_options['info_buyRequest']['mpassignproduct_id']);
                    $userinfo = Mage::getModel('customer/customer')->load($collection->getSellerId());
                    $seller_name = $userinfo->getFirstname()." ".$userinfo->getLastname();

            }else{
                $collection = Mage::getModel('marketplace/product')->getCollection()->addFieldToFilter('mageproductid',array($_item->getProductId()));
                foreach($collection as $data){
                    $userinfo = Mage::getModel('customer/customer')->load($data->getUserid());
                    $seller_name = $userinfo->getFirstname()." ".$userinfo->getLastname();
                }
            }
            if(count($collection)){
                ?>
                <strong> 
                    <?php echo $this->helper('sales')->__('By Seller') ?>:
                </strong> 
                <?php
                echo $seller_name;
            }
		?> 
	</div>
    <?php if ($this->getOrderOptions()): ?>
        <dl class="item-options">
        <?php foreach ($this->getOrderOptions() as $_option): ?>
            <dt><?php echo $_option['label'] ?></dt>
            <dd>
            <?php if (isset($_option['custom_view']) && $_option['custom_view']): ?>
                <?php echo $this->getCustomizedOptionValue($_option); ?>
            <?php else: ?>
                <?php $_option = $this->getFormattedOption($_option['value']); ?>
                <?php echo $_option['value']; ?><?php if (isset($_option['remainder']) && $_option['remainder']): ?><span id="<?php echo $_dots = 'dots' . uniqid()?>"> ...</span><span id="<?php echo $_id = 'id' . uniqid()?>"><?php echo $_option['remainder'] ?></span>
                    <script type="text/javascript">
                    $('<?php echo $_id ?>').hide();
                    $('<?php echo $_id ?>').up().observe('mouseover', function(){$('<?php echo $_id ?>').show();});
                    $('<?php echo $_id ?>').up().observe('mouseover', function(){$('<?php echo $_dots?>').hide();});
                    $('<?php echo $_id ?>').up().observe('mouseout',  function(){$('<?php echo $_id ?>').hide();});
                    $('<?php echo $_id ?>').up().observe('mouseout',  function(){$('<?php echo $_dots ?>').show();});
                    </script>
                <?php endif; ?>
            <?php endif; ?>
            </dd>
        <?php endforeach; ?>
        </dl>
    <?php endif; ?>
    <?php echo $this->htmlEscape($_item->getDescription()) ?>
<?php endif; ?>
