<script type="text/javascript">
	if (typeof jQuery == 'undefined'){
	    document.write(unescape("%3Cscript src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
	}
</script>
<script>
var wk=jQuery.noConflict();
(function($wk_jq){
	$wk_jq(function(){
		$wk_jq("input[name='partnertype']").on("change", function(){
			var partnertype = $wk_jq("input[name='partnertype']").val();
			if(this.checked && partnertype==2) {
				var conf = confirm("<?php echo Mage::helper('marketplace')->__('Do you want to remove seller from all stores?')?>");
				if (conf == false) {
					$wk_jq(this).prop("checked", false);
				}
			}
		});

		$wk_jq("#seller_store_wise").on("change",function(){
			var storeId = $wk_jq(this).val();
			var currUrl = "<?php echo $this->helper('core/url')->getCurrentUrl();?>";
			var splitStr = currUrl.split("store");
			if (storeId>0) {
				currUrl = splitStr[0]+'store/'+storeId;
			} else {
				currUrl = splitStr[0];
			}
			$wk_jq(location).attr('href',currUrl);
		});
	});
})(wk);
</script>