/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.page-title-wrapper {
	display: none;
}
.column.main {
	min-height: 0!important;
}
#wk_termsconditions_box {
	display: none;
}
#wk_termsconditions_box, .profileurl {
	display: inline-block;
}
#wk_termsconditions_box label {
	max-width: 100%!important;
}
.wk_mp_header h1 {	
	text-transform: uppercase!important;
	padding-top: 14%!important;
	font-size: 37px!important;
	margin-bottom: 0!important;
	color: #F4EFEF!important;
}
.wk_mp_header h2 {	
	margin: 10px 0!important;
	font-size: 26px!important;
	font-weight: 500!important;
	color: #E7E4E4!important;
}
.wk_mp_banner {
	background-size: cover;
	display: inline-block;
	width: 100%;
}
.wk_list_container_registration {
	background-color: #f0f0f0;
	padding: 30px;
}
.wk_list_container_registration form {
	width: 100%!important;
	min-width: 100%!important;
}
.wk_list_container_feature_label {
	font-size: 18px;
	font-weight: 500;
	color: #6B6767;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.wk_mp_landingpage .account-create{
	width: 100%;
	min-width: 100%;
	color: #807E7E;
}
.wk_mp_landingpage .form-list input.input-text {
    font-size: 14px!important;
}
.wk_mp_landingpage .form.create.account .legend, .newsletter, br {
	display: none!important;
}
.wk_mp_landingpage .form.create.account .fieldset {
	margin-bottom: 0;
}
.wk_mp_landingpage .form.create.account .info .field,
.wk_mp_landingpage .form.create.account .account .password,
.wk_mp_landingpage .form.create.account .account .confirmation {
	width: 48%;
	padding-right: 1%;
	float: left;
}
.wk_mp_landingpage .form.create.account .field {
	margin-bottom: 10px;
}
.wk_mp_landingpage .form.create.account .account .password,
.wk_mp_landingpage .form.create.account .account .confirmation {
	margin-bottom: 30px;
}
.wk_mp_landingpage .form.create.account .account input[type=email]{
	width: 97%;
}
.wk_mp_landingpage .primary {
	padding: 10px;
	text-transform: uppercase;
}
.wk_text_transform_left {
	text-align: left;
}
@media(min-width: 1001px) {
	.wk_mp_landingpage .wk_list_container {
		padding: 1%;
		float:left;
		width: 35%;
	}
	.wk_mp_header {
		width: 65%!important;
	}
	.wk_mp_header_container {
    	padding: 100px 85px!important;
		text-align: left;
	}
}
.wk_mp_banner img {
	width: auto!important;
}
#password-strength-meter-container {
	display: none;
}
.wk_mp_icon_seperator {
	width: 5%;
	display: inline-block;
	vertical-align: middle;
	margin-top: 4%;
}
.wk_mp_icon {
	display: inline-block;
	width: 75%!important;
}
.wk_mp_icon_wraper {
	display: inline-block;
	width: 13%!important;
	vertical-align: top;
}
.wk_marketplace_label_span {
    display: inline-block;
    text-transform: none!important;
    font-size: 13px!important;
    width: 100%;
    font-weight: 500!important;
    color: #919191!important;
    word-break: break-word;
}
.wk_marketplace_label {
	font-weight: 500;
	letter-spacing: normal!important;
	padding-top: 5.3%!important;
	text-transform: uppercase!important;
	font-size: 30px!important;
	color: #4F9DD5!important;
}
.wk_text_transform_center {
	text-align: center;
}
.wk_list_container_wrapper {
	padding: 3% 0;
	width: 85%;
	display: inline-block;
}
.wk_mp_landingpage .wk_icon_check_span {
	font-size: 20px;
	font-weight: 500;
	color: #807E7E;
	vertical-align: top;
}
.wk_layout2_box_container {
	width: 250px;
    height: 300px;
    background-color: #DCF2F5;
	float: left;
	margin: 10px;
}
.wk_layout2_box_span_container {
	padding: 25px 0;
	display: inline-block;
	font-size: 20px;
	color: #4F9DD5;
	font-weight: 500;
	width: 100%;
	text-align: center;
}
.wk_layout2_box_span {
	width: 100px;
    height: 100px;
    display: inline-block;
    background-color: #fff;
    border-radius: 60px;
    margin: 0 75px;
}
.wk_layout2_box_span_image {
	background-image: url('../images/landingpage1/icon/sell-page-2-sprite.png');
	width: 50px;
	height: 50px;
	display: inline-block;
	margin: 25px;
}
.wk_layout2_box_span_image_ask {
	background-position: 200px 0px;
}
.wk_layout2_box_span_image_quickpay {
	background-position: 150px 0px;
}
.wk_layout2_box_span_image_order {
	background-position: 100px 0px;
}
.wk_layout2_box_span_image_badges {
	background-position: 50px 0px;
}
.wk_layout2_box_span_image_verified {
	background-position: 0px 75px;
}
.wk_layout2_box_span_image_profile {
	background-position: 200px 75px;
}
.wk_layout2_box_span_image_media {
	background-position: 100px 75px;
}
.wk_icon_div {
	padding: 15px;
	font-weight: 500;
	color: #919191;
	text-align: center;
}
#wantptr {
	display: inline-block!important;
}