<?php 
$helper=Mage::helper('marketplace');
$customerid=Mage::getSingleton('customer/session')->getCustomerId();
$isPartner= Mage::getModel('marketplace/userprofile')->isPartner();
$currency_code = Mage::app()->getStore()->getCurrentCurrencyCode();
$product_hint_status = Mage::helper('marketplace')->getProductHintStatus();
if($isPartner==1){
	$rightseller=Mage::getModel('marketplace/userprofile')->isRightSeller($this->getRequest()->getParam('id'));
	if($rightseller==1){?>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<?php
		$urlid=$this->getRequest()->getParam('id');
		$loadpro =Mage::getModel('catalog/product')->load($urlid);
		$instock =  Mage::getModel('cataloginventory/stock_item')->loadByProduct($urlid)->getIsInStock();
		$qtyStock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($urlid)->getQty();
		?>
		<form action="<?php echo $this->getUrl('marketplace/marketplaceaccount/editapprovedvirtual') ?>" enctype="multipart/form-data" method="post" id="form-customer-product-editPost">
			<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
			<div class="page-title">
				<h1 style="float:left;"><?php echo $helper->__('Edit Virtual Product') ?></h1>
				<a href="<?php echo $this->helper('core/url')->getCurrentUrl(); ?>">
					<button type="button" class="button wk_mp_btn">
						<span><span><?php echo $helper->__('Reset') ?></span></span>
					</button>
				</a>
				<a href="<?php echo $this->getUrl('marketplace/product/duplicate', array('id'=>$urlid)) ?>">
					<button class="button wk_mp_btn" title="<?php echo $helper->__('Duplicate') ?>" type="button">
						<span><span><?php echo $helper->__('Duplicate') ?></span></span>
					</button>
				</a>
				<button class="button wk_mp_btn" title="<?php echo $helper->__('Save') ?>" type="submit" id="save_butn">
					<span><span><?php echo $helper->__('Save') ?></span></span>
				</button>			
			</div>
			<div class="wk_mp_design">
				<div class="block block-account">	
					<div class="block-title">	
						<strong><span><h4><?php echo $helper->__('Edit Product') ?></h4></span></strong>
					</div>
				</div>
				<div class="fieldset wk_mp_fieldset">
					<input type="hidden" name="productid" value="<?php echo $urlid; ?>" />
					<ul class="form-list" id="wk_bodymain">
						<li>
							<label><?php echo $helper->__('Product Category') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductCategoryHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductCategoryHint() ?>"/>
							<?php
							} ?>
							<div class="wk_field wk_category">
								<div class="wk_for_validation">
									<div id="wk_category_label"><?php echo $helper->__("CATEGORIES"); ?></div>
									<?php 
									$categories = $loadpro->getCategoryIds();
									$cat_ids=implode(",",$categories);
									foreach ($categories as $value) {
										?>
										<input type="hidden" name="category[]" value="<?php echo $value; ?>" id="wk_cat_hide<?php echo $value; ?>"/>
										<?php
									}
									?>
									<?php 
									$categories = $loadpro->getCategoryIds();
									if(Mage::helper('marketplace')->getAllowedCategoryIds()){
			            				$storeconfig_catids = explode(',',trim(Mage::helper('marketplace')->getAllowedCategoryIds()));
			            				foreach($storeconfig_catids as $storeconfig_catid)	{
			            					$cat_model = Mage::getModel("catalog/category")->load($storeconfig_catid); 
			            					if(isset($cat_model["entity_id"]) && $cat_model["entity_id"]){
				            					?>
												<div class="wk_cat_container">
													</span><span class="wk_foldersign"></span>
													<span class="wk_elements wk_cat_name"><?php echo $cat_model->getName() ?></span>
													<?php 
													if(in_array($cat_model["entity_id"],$categories)) {?>
														<input class="wk_elements" type="checkbox" value=<?php echo $cat_model['entity_id'] ?> checked />
													 	<?php 
													}else { ?>
														<input class="wk_elements" type="checkbox" value=<?php echo $cat_model['entity_id'] ?>/>
														<?php 
													}?>
												</div> 
									   			<?php 
									   		}
			            				}
			            			}else{
										$count = 0;
										$category_helper = Mage::helper("catalog/category");
										$category_model = Mage::getModel("catalog/category");
										$_categories = $category_helper->getStoreCategories();
										foreach($_categories as $_category)	{
											$count++; 
								        	if(count($category_model->getResource()->getAllChildren($category_model->load($_category['entity_id'])))-1 > 0){?>
													<div class="wk_cat_container">
														<span class="wk_plus"></span>
														<span class="wk_foldersign"></span>
														<span class="wk_elements wk_cat_name">
															<?php echo $_category->getName() ?>
														</span>
														<?php 
														if(in_array($_category["entity_id"],$categories)) {?>
															<input class="wk_elements" type="checkbox" value=<?php echo $_category['entity_id'] ?>  checked /> 

															<?php 
														}else {?>
															<input class="wk_elements" type="checkbox" value=<?php echo $_category['entity_id'] ?> /> 
															<?php 
														}?>
													</div>
													<?php
											} else {?>
												<div class="wk_cat_container">
													</span><span class="wk_foldersign"></span>
													<span class="wk_elements wk_cat_name"><?php echo $_category->getName() ?></span>
													<?php 
													if(in_array($_category["entity_id"],$categories)) {?>
														<input class="wk_elements" type="checkbox" value=<?php echo $_category['entity_id'] ?> checked />
													 	<?php 
													}else { ?>
														<input class="wk_elements" type="checkbox" value=<?php echo $_category['entity_id'] ?>/>
														<?php 
													}?>
												</div>
												<?php
										    }
									    }
									}
									?>	
								</div>
							</div>
						</li>
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('Product Name') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductNameHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductNameHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<input type="text" class="required-entry input-text" name="name" id="name" value="<?php echo $loadpro->getName(); ?>" />
							</div>
						</li>
						<li>
							<label><?php echo $helper->__('Description') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductDescHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductDescHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<textarea name="description" id="description" rows="5" cols="75" ><?php echo $loadpro->getDescription(); ?></textarea>
							</div>
						</li>
						<li>
							<label><?php echo $helper->__('Short Description') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductShortDescHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductShortDescHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<textarea name="short_description" id="descriptions" rows="5" cols="75"><?php echo $loadpro->getShortDescription();?></textarea>
							</div>
						</li>
						<?php 
						$mp_pro_status = 0;
						$mp_pro_coll =Mage::getModel('marketplace/product')->getCollection()
											->addFieldToFilter('mageproductid',array('eq'=>$urlid));
						foreach ($mp_pro_coll as $key => $value) {
							$mp_pro_status = $value['status'];
						}
						if(!Mage::helper('marketplace')->getIsProductEditApproval() && $mp_pro_status==1){ ?>
							<li>
								<label class="required"><em>*</em><?php echo $helper->__('Status') ?>:</label>
								<?php
								if($product_hint_status && Mage::helper('marketplace')->getProductEnableStatusHint()){?>
									<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductEnableStatusHint() ?>"/>
								<?php
								} ?>
								<div class="input-box">
									<input type="radio" class="" name="status" id="status" value="1" <?php if($loadpro->getStatus()==1){ echo 'checked="checked"'; } ?>/><?php echo $helper->__("Enable"); ?><br>
									<input type="radio" class="" name="status" id="status" value="2" <?php if($loadpro->getStatus()==2){ echo 'checked="checked"'; } ?>/><?php echo $helper->__("Disable"); ?>
								</div>
							</li>
						<?php
						} ?>
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('SKU') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductSkuHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductSkuHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<input name="sku" type="text" id="sku" class="input-text required-entry" value="<?php  echo $loadpro->getsku(); ?>"/> 
							</div>
							<div id="skuavail" >
								<span class="success-msg skuavailable"><?php echo $helper->__('SKU Available') ?></span>
							</div>
							<div id="skunotavail" >
								<span class="error-msg skunotavailable"><?php echo $helper->__('SKU Already Exist') ?></span>
							</div>
						</li>
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('Price') ?><b><?php $currency_code = Mage::app()->getStore()->getCurrentCurrencyCode(); echo  " (". Mage::app()->getLocale()->currency( $currency_code )->getSymbol().")"; ?></b>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductPriceHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductPriceHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<input type="text" class="required-entry validate-zero-or-greater input-text" name="price" id="price" value="<?php

								$baseCurrencyCode = Mage::app()->getStore()->getBaseCurrencyCode();
								$currentCurrencyCode = Mage::app()->getStore()->getCurrentCurrencyCode();
								$price = Mage::helper('directory')->currencyConvert($loadpro->getPrice(), $baseCurrencyCode, $currentCurrencyCode);
								  echo number_format($price, 2, '.', ''); ?>" />
							</div>
						</li>
						<li>
							<label><?php echo $helper->__('Special Price') ?><b><?php $currency_code = Mage::app()->getStore()->getCurrentCurrencyCode(); echo  " (". Mage::app()->getLocale()->currency( $currency_code )->getSymbol().")"; ?></b>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductSpecialPriceHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductSpecialPriceHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<input type="text" class="widthinput input-text validate-zero-or-greater" name="special_price" id="special_price" value="<?php
		                        if($loadpro->getSpecialPrice()!='')
		                        {
								$baseCurrencyCode = Mage::app()->getStore()->getBaseCurrencyCode();
								$currentCurrencyCode = Mage::app()->getStore()->getCurrentCurrencyCode();
								$special_price = Mage::helper('directory')->currencyConvert($loadpro->getSpecialPrice(), $baseCurrencyCode, $currentCurrencyCode);
								  echo number_format($special_price, 2, '.', ''); 
								}
								else
								{
									echo $loadpro->getSpecialPrice();
								}  
								  
								  ?>"/>
							</div>
						</li>
						<li>
							<label><?php echo $helper->__('Special Price From') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductSpecialFromDateHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductSpecialFromDateHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<input name="special_from_date" id="special_from_date" class="input-text" value="<?php echo $loadpro->getData('special_from_date'); ?>" type="text"/>
							</div>
						</li>
						<li>
							<label><?php echo $helper->__('Special Price To') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductSpecialToDateHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductSpecialToDateHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<input name="special_to_date" id="special_to_date" class="input-text" value="<?php echo $loadpro->getData('special_to_date'); ?>" type="text"/>
							</div>
						</li>
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('Stock') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductStockHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductStockHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<input type="text" class="required-entry validate-number input-text" name="stock" id="stock" value="<?php echo number_format($qtyStock, 2, '.', '')?>"/>
							</div>
						</li>
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('Stock Availability') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductStockAvailabilityHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductStockAvailabilityHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<select id="inventory_stock_availability" class="select" name="is_in_stock">
									<option <?php if($instock==1)echo "selected"; ?> value="1"><?php echo $helper->__("In Stock"); ?></option>
									<option <?php if($instock==0)echo "selected"; ?> value="0"><?php echo $helper->__("Out of Stock"); ?></option>
								</select>
							</div>
						</li>
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('Visibility') ?>:</label>
							<div class="input-box">
								<select id="visibility" class=" required-entry required-entry select" name="visibility">
									<option value=""><?php echo $helper->__('Please Select')?></option>
									<?php
									$product_visibility = Mage::getModel('catalog/product_visibility')->getOptionArray();
									foreach($product_visibility as $key=>$value){
										?>
										<option value="<?php echo $key ?>" <?php if($key==$loadpro->getVisibility()){ echo "selected='selected'";}?>><?php echo $value?></option>
									<?php 
									} ?>
								</select>
							</div>
						</li>
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('Tax Class') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductTaxHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductTaxHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<select id="tax_class_id" class=" required-entry required-entry select" name="tax_class_id">
									<option value="0"><?php echo $helper->__("None"); ?></option>
									<?php
										$taxid=$loadpro->getData('tax_class_id');
										$taxes=Mage::getModel('tax/class')->getCollection()
													->addFieldToFilter('class_type',array('eq'=>'PRODUCT'));
										foreach($taxes as $tax){
									?>
									<option <?php echo $taxid==$tax->getId()? 'selected':''; ?> value="<?php echo $tax->getId() ?>"><?php echo $tax->getClassName()?></option>
									<?php } ?>
								</select>
							</div>
						</li>
						<li>
							<label><?php echo $helper->__('Product Images') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductImageHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductImageHint() ?>"/>
							<?php
							} ?>
							<div class="input-box" style="width:100%;">
								<input type='file' name='images[]' class="wk_imagevalidate" accept="image/*"/>
								<input type="radio" value='' class='defaultimage' onchange='defaultimagevalue(this)' name="defaultimage">
								<span class='defaultimageset'><?php echo $helper->__("Base image"); ?></span>
								<br>
								<a class="wk_add_image" href='#' onClick='showOtherImage(); return false;'><?php echo $helper->__("Add More Images");?></a><br/>
								<div id="otherimages"></div>
								<div class="image_set">
									<?php 
									$_product_coll = Mage::getModel('catalog/product')->load($loadpro->getId());
									$_product = Mage::getModel('catalog/product')->load($loadpro->getId())->getMediaGalleryImages();
									$_productimage = Mage::getModel('catalog/product')->load($loadpro->getId())->getImage();
									if($_product) {  ?>
										<?php $i=0;
										foreach($_product as $_image) {
											$check=$_productimage==$_image->getFile()?"checked='checked'":'';
										  	$i++; 
										  	?>
										   	<div class="setimage">
												<img id="<?php echo $_image->getFile(); ?>" pid="<?php echo $loadpro->getId(); ?>" src="<?php echo $this->helper('catalog/image')->init($_product_coll, 'thumbnail',$_image->getFile())->resize(200, 130); ?>" width="50" height="50" alt="<?=$this->htmlEscape($_image->getLabel());?>" title="<?=$this->htmlEscape($_image->getLabel()); ?>" />
											  	<span class="wk_imagedelete" title="Delete">
												  	<img src="<?php echo $this->getSkinUrl('marketplace/images/deleteIcon.png'); ?>" alt="<?php echo $helper->__('Delete Image')?>" title="<?php echo $helper->__('Delete Image')?>"/>
												</span><br>
												<input type="radio" name="defaultimage" <?php echo  $check ?>  class='defaultimage' value='<?php echo $_image->getValueId(); ?>'>
												<div class='defaultimageset'><?php echo $helper->__("Base image"); ?></div>
										   	</div>
									   <?php  
										} 
								    } ?>
								</div>
							</div>
						</li>
						<?php echo $this->getChildHtml();?>
					</ul>
				</div>
			</div>
			<div class="wk_mp_design">
				<div class="block block-account">	
					<div class="block-title">	
						<strong><span><h4><?php echo $helper->__('Meta Information') ?></h4></span></strong>
					</div>
				</div>
				<div class="fieldset wk_mp_fieldset">
					<ul class="form-list" id="wk_bodymain">
						<li>
							<label><?php echo $helper->__('Meta Title') ?>:</label>
							<div class="input-box">
								<input type="text" class="input-text" name="meta_title" id="meta_title" value="<?php echo $loadpro->getMetaTitle(); ?>" />
							</div>
						</li>
						<li>
							<label><?php echo $helper->__('Meta Keywords') ?>:</label>
							<div class="input-box">
								<textarea name="meta_keyword" id="meta_keyword" rows="5" cols="75" ><?php echo $loadpro->getMetaKeyword(); ?></textarea>
							</div>
						</li>
						<li>
							<label><?php echo $helper->__('Meta Description') ?>:</label>
							<div class="input-box">
								<textarea name="meta_description" id="meta_description" rows="5" cols="75"><?php echo $loadpro->getMetaDescription();?></textarea>
							</div>
						</li>
					</ul>
				</div>
			</div>	
		</form>
		<script id="imageTemplate" type="text/x-jquery-tmpl">
			<div id='childDiv${index}'>
				<input type='file' name='images[]' class='wk_imagevalidate'/>
				<input type='radio'  onClick='defaultimagevalue(this)'  value=''  class='defaultimage' name='defaultimage'>
				<span class='defaultimageset'>
					<?php echo $helper->__('Base image'); ?>
				</span>
				<a href="javascript:void(0)" onclick="removeEvent('childDiv${index}')"><?php echo $helper->__('Remove'); ?></a>
			</div>
		</script>
		<div class="buttons-set">
			<p class="required">* <?php echo $helper->__('Required Fields') ?></p>		
			<p class="back-link">
				<a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo $helper->__('Back') ?></a>
			</p>
		</div>	
		<?php
		$allowed_images = $helper->getAllowedImageExtension();
		?>
		<script type="text/javascript">
		if (typeof jQuery == 'undefined'){
		    document.write(unescape("%3Cscript src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
		}
		</script>
		<script src="<?php echo $this->getSkinUrl('marketplace/js/jquery.tmpl.min.js') ?>" type="text/javascript"></script>
		<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS).'tiny_mce/tiny_mce.js' ?>"></script>
		<script type="text/javascript">
		window.onload=function()
		{
		   	tinyMCE.init({
			    mode : "exact",
			    elements: "description,descriptions",
			    theme : "advanced",
			    plugins : "inlinepopups,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras",
			    theme_advanced_buttons1 : "newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
			    theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
			    theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
			    theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,|,visualchars,nonbreaking",
			    theme_advanced_toolbar_location : "top",
			    theme_advanced_toolbar_align : "left",
			    theme_advanced_path_location : "bottom",
			    extended_valid_elements : "a[name|href|target|title|onclick],img[class|src|border=0|alt|title|hspace|vspace|width|height|align|onmouseover|onmouseout|name],hr[class|width|size|noshade],font[face|size|color|style],span[class|align|style]",
			    theme_advanced_resize_horizontal : true,
			    theme_advanced_resizing : true,
			    apply_source_formatting : true,
			    convert_urls : false,
			    force_br_newlines : true,
			    doctype : '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">'
			});
		};
		</script>
		<script> 
			var $wk_jq=jQuery.noConflict();
			var i=2;		
			function showOtherImage(){
				$wk_jq("#imageTemplate").tmpl([{'index':i}]).appendTo("#otherimages");
				i++;
			}
			function removeEvent(divNum){
				var d = document.getElementById('otherimages');
				var olddiv = document.getElementById(divNum);
				d.removeChild(olddiv);
				i--;
			}
			function defaultimagevalue(object){
				var strs=$wk_jq(object).prev('input').val().split('\\'); 
			    $wk_jq(object).val(strs[strs.length-1]);
			}
			(function($wk_jq){
				var newCustomerProductForm = new VarienForm('form-customer-product-editPost', true);
				$wk_jq( "#special_from_date" ).datepicker({'dateFormat':'yy:mm:dd'});
				$wk_jq( "#special_to_date" ).datepicker({'dateFormat':'yy:mm:dd'});
				
				$wk_jq('.wk_close').click(function(){
					$wk_jq(this).parent().remove();
				});

				$wk_jq('#save_butn').click(function(e){
					if(newCustomerProductForm.validator.validate()!=false){		
						var desc = tinyMCE.get('description').getContent(); 
						var short_desc = tinyMCE.get('descriptions').getContent(); 
						$wk_jq('#advice-required-entry-description').remove();
						$wk_jq('#advice-required-entry-descriptions').remove();
						if(desc=="" || desc==null){
							$wk_jq('#advice-required-entry-description').remove();
							$wk_jq('#description').parent().append('<div class="validation-advice" id="advice-required-entry-description">This is a required field.</div>');
						}
						if(short_desc=="" || short_desc==null){ 
							$wk_jq('#advice-required-entry-descriptions').remove();
							$wk_jq('#descriptions').parent().append('<div class="validation-advice" id="advice-required-entry-descriptions">This is a required field.</div>'); 
						}
						if((desc!="" && desc!=null) && (short_desc!="" && short_desc!=null)){ 
							$wk_jq('#save_butn span span').text('<?php echo $helper->__("Saving")?>..');
							$wk_jq('.button').css('opacity','0.7'); 
							$wk_jq('.button').css('cursor','default'); 
							$wk_jq('.button').attr('disabled','disabled'); 
							$wk_jq('#form-customer-product-editPost').submit(); 
						}else{
							return false;
						}
					}
				});
				
				$wk_jq('.input-text').change(function(){
					var validt = $wk_jq(this).val();
					var regex = /(<([^>]+)>)/ig;
					var mainvald = validt .replace(regex, "");
					$wk_jq(this).val(mainvald);	
			    });

			    $wk_jq("body").delegate('.wk_imagevalidate',"change",function(){
					$wk_jq( ".defaultimage" ).prop( "checked",false);
					var ext = $wk_jq(this).val().split('.').pop().toLowerCase();
					if($wk_jq.inArray(ext, [<?php echo $allowed_images ?>]) == -1) {
						$wk_jq(this).val('');
						alert('<?php echo $helper->__("Invalid extension! Please Upload an image")?>');
					}
				});

				$wk_jq('input#sku').change(function(){
					var len=$wk_jq('input#sku').val();
					var len2=len.length;
					if(len2==0){
						alert('<?php echo $helper->__("SKU can\'t be left empty")?>');
						$wk_jq('div#skuavail').css('display','none');
						$wk_jq('div#skunotavail').css('display','none');
					}
					else{
						$wk_jq.ajax({
							url: "<?php echo Mage::getUrl('marketplace/marketplaceaccount/verifysku');?>",
							type: "POST",
							data: {sku:$wk_jq('input#sku').val()},
							dataType: 'html',
							success:function($data){
								$data=JSON.parse($data);
								if($data.avl==1){
									$wk_jq('div#skuavail').css('display','block');
									$wk_jq('div#skunotavail').css('display','none');
								}
								else{
									$wk_jq('div#skunotavail').css('display','block');
									$wk_jq('div#skuavail').css('display','none');
									$wk_jq("input#sku").attr('value','');
								}
							}
						});
					}
				});

				$wk_jq('body').on('change','.wk_elements',function(){
					var category_id=$wk_jq(this).val();					
					if(this.checked == true){
						var $obj = $wk_jq('<input/>').attr('type','hidden').attr('name','category[]').attr('id','wk_cat_hide'+category_id).attr('value',category_id);
						$wk_jq('.wk_for_validation').append($obj);
					}else{
						$wk_jq('#wk_cat_hide'+category_id).remove();
					}
				});

				$wk_jq("#wk_bodymain").delegate('.wk_plus ,.wk_plusend,.wk_minus, .wk_minusend ',"click",function(){
					var thisthis=$wk_jq(this);
					if(thisthis.hasClass("wk_plus") || thisthis.hasClass("wk_plusend")){
						if(thisthis.hasClass("wk_plus"))
							thisthis.removeClass('wk_plus').addClass('wk_plus_click');
						if(thisthis.hasClass("wk_plusend"))
							thisthis.removeClass('wk_plusend').addClass('wk_plusend_click');
						thisthis.prepend("<span class='wk_node_loader'></span>");
						
						$wk_jq.ajax({
							url  	:   "<?php echo $this->getUrl('marketplace/marketplaceaccount/categorytree/');?>",
							type 	:   "POST",
							data 	:   {CID:thisthis.siblings("input").val(),
										ML:thisthis.parent(".wk_cat_container").css("margin-left").replace("px",""),
										CATS : 	"<?php echo implode(',',$categories); ?>"},
							dataType:   "html",
							success :   function(content){
								var newdata=  $wk_jq.parseJSON(content);
								len= newdata.length;
								var pxl= parseInt(thisthis.parent(".wk_cat_container").css("margin-left").replace("px",""))+20;
								thisthis.find(".wk_node_loader").remove();
								if(thisthis.attr("class") == "wk_plus")
									thisthis.attr("class","wk_minus");
								if(thisthis.attr("class") == "wk_plusend")
									thisthis.attr("class","wk_minusend");
								if(thisthis.attr("class") == "wk_plus_click")
									thisthis.attr("class","wk_minus");
								if(thisthis.attr("class") == "wk_plusend_click")
									thisthis.attr("class","wk_minusend");
							     for(i=0;i<len; i++){ 
									id=newdata[i].id;
									checkn=newdata[i].check;
									nam=newdata[i].name;
									if(checkn==1){														 
										if(newdata[i].counting ==0){
											thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_no"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" checked value='+ id+' </div>');
										}else{
											thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_plusend"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" checked value='+ id +'></div>');   
										}
									}else{
										if(newdata[i].counting ==0){
											thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_no"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" value='+ id+'></div>');
										}else{
											thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_plusend"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" value='+ id +'></div>');   
										}
									}
								}	
								thisthis.parent(".wk_cat_container").nextAll().slideDown(300);
							}
						});			
					}
					if(thisthis.hasClass("wk_minus") || thisthis.hasClass("wk_minusend")){
						if(thisthis.attr("class") == "wk_minus")
							thisthis.attr("class","wk_plus");
						if(thisthis.attr("class") == "wk_minusend")
							thisthis.attr("class","wk_plusend");
						var thiscategory = thisthis.parent(".wk_cat_container");
						var marg= parseInt(thiscategory.css("margin-left").replace("px",""));
						while(thiscategory.next().hasClass("wk_removable")){
						  
						if(parseInt(thiscategory.next().css("margin-left").replace("px",""))>marg)
							thiscategory.next().slideUp("slow",function(){$wk_jq(this).remove();});
							thiscategory = thiscategory.next();	
							if(typeof thiscategory.next().css("margin-left")!= "undefined"){
								if( marg==thiscategory.next().css("margin-left").replace("px",""))
								{
								  break;
								}
							}
						}
					}		
				});

				$wk_jq('.image_set span').click(function(event){
					var dicisionapp=confirm('<?php echo $helper->__("Are you sure you want to delete this image?")?>');
					if(dicisionapp==true){
						var deleteflag=0;			
						var thisthis = $wk_jq(this);
						var imag = thisthis.prev('img').attr('id');
						thisthis.html("<img src='<?php echo $this->getSkinUrl('marketplace/images/loading.gif'); ?>'/>");
						thisthis.removeClass('wk_imagedelete');
						thisthis.addClass('wk_imagedeleteload');				
						$wk_jq.ajax({
							url: "<?php echo $this->getUrl('marketplace/marketplaceaccount/deleteimage');?>",
							type: "POST",
							data: {file:thisthis.prev('img').attr('id'),pid:thisthis.prev('img').attr('pid')},
							dataType: 'html',
							success:function(content){
								thisthis.parent('div.setimage').remove();
							}
						});							
					}		
				});
				$wk_jq('.wk_imagedelete img').mouseover(function(event){
					$wk_jq(event.target).css('width','22px');
				});
				$wk_jq('.wk_imagedelete img').mouseout(function(event){
					$wk_jq(event.target).css('width','20px');
				});
			})($wk_jq);
		</script>
		<?php 
	}else{
		echo "<h2 class='wk_mp_error_msg'>".$helper->__("You are not authorize to edit this product.")."</h2>";
	}
}else{ ?>
	<h2 class="wk_mp_error_msg">
		<?php echo $helper->__("To Become Seller Please Contact to Admin."); ?>
	</h2>
	<?php
} ?>
