<?php 
$helper=Mage::helper('marketplace');
$attributes = Mage::getModel('catalog/product_attribute_api')->items($this->getRequest()->getParam('set'));
$customerid=Mage::getSingleton('customer/session')->getCustomerId();
$isPartner= Mage::getModel('marketplace/userprofile')->isPartner();
$product_hint_status = Mage::helper('marketplace')->getProductHintStatus();
$superattributeselect = array();
$superattributeselect = $this->getRequest()->getParam('superattributeselect');
if($isPartner==1){ ?>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<?php 
	if(!isset($superattributeselect[0])){ ?>
		<form method="post" id="form-super-attribute" action="<?php echo $this->getUrl('marketplace/marketplaceaccount/new') ?>">
			<input type="hidden" name="set" value="<?php echo $this->getRequest()->getParam('set') ?>" />
			<input type="hidden" name="type" value="<?php echo $this->getRequest()->getParam('type') ?>" />
			<div class="page-title">
				<h1 style="float:left;"><?php echo $helper->__('Select Configurable Attribute') ?></h1>
				<a href="<?php echo $this->helper('core/url')->getCurrentUrl(); ?>">
					<button type="button" class="button wk_mp_btn">
						<span><span><?php echo $helper->__('Reset') ?></span></span>
					</button>
				</a>
				<button class="button wk_mp_btn configattr" type="submit" title="<?php echo $helper->__('Create Configurable Product') ?>" type="submit">
					<span><span><?php echo $helper->__('Create Configurable Product') ?></span></span>
				</button>
			</div>
			<div class="wk_mp_design">
				<div class="block block-account">	
					<div class="block-title">	
						<strong><span><h4><?php echo $helper->__('Configurable Attribute') ?></h4></span></strong>
					</div>
				</div>
				<div class="fieldset wk_mp_fieldset">
					<?php 
					foreach($attributes as $attribute) {
						$data = Mage::getModel('catalog/resource_eav_attribute')->load($attribute['attribute_id']);
						if(($data['frontend_input'] == 'select' || $data['frontend_input'] == 'multiselect') && $data['is_user_defined'] == 1 && $data['is_configurable'] == 1&& $data['is_visible'] == 1 && $data['is_global'] == 1) { ?>
							<div class="supattrselect">
								<input class="validate-one-required-by-name" type="checkbox" id="attribute[<?php echo $data['attribute_code']; ?>]" value="<?php echo $data['attribute_code']; ?>" name="superattributeselect[]"/>
								<span><?php echo $data['frontend_label']; ?></span>
							</div>
						<?php 
						} 
					} ?>
				</div>
			</div>
		</form>
		<div class="buttons-set">
			<p class="required">* <?php echo $helper->__('Required Fields') ?></p>		
			<p class="back-link">
				<a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo $helper->__('Back') ?></a>
			</p>
		</div>	
		<script>
		var newCustomerProductForm = new VarienForm('form-super-attribute', true);
		</script>
	<?php
	} else{ 
		$wholedata = Mage::getSingleton('core/session')->getProductFormData(); ?>
		<form action="<?php echo $this->getUrl('marketplace/marketplaceaccount/configproduct') ?>" enctype="multipart/form-data" method="post" id="form-customer-product-new">
			<div class="page-title">
				<h1 style="float:left;"><?php echo $helper->__('Add New Configurable Product') ?></h1>
				<button type="reset" class="button wk_mp_btn">
					<span><span><?php echo $helper->__('Reset') ?></span></span>
				</button>
				<button class="button wk_mp_btn" title="<?php echo $helper->__('Save') ?>" type="submit" id="save_butn">
					<span><span><?php echo $helper->__('Save') ?></span></span>
				</button>
			</div>		
			<div class="wk_mp_design">
				<div class="block block-account">	
					<div class="block-title">	
						<strong><span><h4><?php echo $helper->__('Add Configurable Product') ?></h4></span></strong>
					</div>
				</div>
				<div class="fieldset wk_mp_fieldset">
					<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
					<input type="hidden" name="attribute_set_id" id="attribute_set_id" value="<?php echo $this->getRequest()->getParam('set')!=''? $this->getRequest()->getParam('set'):4;  ?>" />
					<input type="hidden" name="type_id" id="producttype" value="<?php echo $this->getRequest()->getParam('type')?>" />
					<input type="hidden" class="len" name="supperattr" id="supperattr" value="<?php echo implode(',',$superattributeselect)?>"/>
					<input type="hidden"  name="wstoreids" id="wstoreids" value="<?php echo Mage::app()->getStore()->getStoreId(); ?>" title="wstoreids" />
					<ul class="form-list" id="wk_bodymain">
						<li>
							<label><?php echo $helper->__('Product Category') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductCategoryHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductCategoryHint() ?>"/>
							<?php
							} ?>
							<div class="wk_field wk_category">
								<div class="wk_for_validation">
									<div id="wk_category_label"><?php echo $helper->__("CATEGORIES"); ?></div>
			            			<?php
		            				$categories = $wholedata['category'];
			            			if(Mage::helper('marketplace')->getAllowedCategoryIds()){
			            				$storeconfig_catids = explode(',',trim(Mage::helper('marketplace')->getAllowedCategoryIds()));
			            				foreach($storeconfig_catids as $storeconfig_catid)	{
			            					$cat_model = Mage::getModel("catalog/category")->load($storeconfig_catid); 
			            					if(isset($cat_model["entity_id"]) && $cat_model["entity_id"]){
			            						?>
												<div class="wk_cat_container">
													</span><span class="wk_foldersign"></span>
													<span class="wk_elements wk_cat_name"><?php echo $cat_model->getName() ?></span>
													<?php if (in_array($cat_model["entity_id"], $categories)) { ?>
														<input class="wk_elements" type="checkbox" value='<?php echo $cat_model['entity_id'] ?>' checked />
													 	<?php 
													} else { ?>
														<input class="wk_elements" type="checkbox" name="category[]" value='<?php echo $cat_model['entity_id'] ?>'/>
														<?php 
													} ?>
												</div> 
									   		<?php 
									   		}
			            				}
			            			}else{
				            			$count = 0;
										$category_helper = Mage::helper("catalog/category");
										$category_model = Mage::getModel("catalog/category");
										$_categories = $category_helper->getStoreCategories();
										foreach($_categories as $_category)	{
											$count++;
										 	if(count($category_model->getResource()->getAllChildren($category_model->load($_category['entity_id'])))-1 > 0){ ?>
												<div class="wk_cat_container" style="margin-left:0px;">
													<span class="wk_plus">
													</span><span class="wk_foldersign"></span>
													<span class="wk_elements wk_cat_name"><?php echo $_category->getName() ?></span>
													<?php if (in_array($_category["entity_id"], $categories)) { ?>
														<input class="wk_elements" type="checkbox" value='<?php echo $_category['entity_id'] ?>' checked />
													 	<?php 
													} else { ?>
														<input class="wk_elements" type="checkbox" name="category[]" value='<?php echo $_category['entity_id'] ?>'/>
														<?php 
													} ?>
												</div>
												<?php
											}else { ?>
												<div class="wk_cat_container">
													</span><span class="wk_foldersign"></span>
													<span class="wk_elements wk_cat_name"><?php echo $_category->getName() ?></span>
													<input class="wk_elements" type="checkbox" name="category[]" value='<?php echo $_category['entity_id'] ?>'/>
												</div> 
										   		<?php 
											}
									    } 
								    }?>
								</div>
							</div>
						</li>
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('Product Name') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductNameHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductNameHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<input type="text" class="required-entry input-text" name="name" id="name" value="<?php if (isset($wholedata['name'])) { echo $wholedata['name']; }?>" />
							</div>
						</li>
						<li>
							<label><?php echo $helper->__('Description') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductDescHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductDescHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<textarea name="description" class="input-text" id="description" rows="5" cols="75" ><?php if (isset($wholedata['description'])) { echo $wholedata['description']; }?></textarea>
							</div>
						</li>
						<li>
							<label><?php echo $helper->__('Short Description') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductShortDescHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductShortDescHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<textarea name="short_description" id="descriptions" rows="5" cols="75" class="input-text" ><?php if (isset($wholedata['short_description'])) { echo $wholedata['short_description']; }?></textarea>
							</div>
						</li>
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('SKU') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductSkuHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductSkuHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<input name="sku" id="sku" class="required-entry input-text" type="text" value="<?php if (isset($wholedata['sku'])) { echo $wholedata['sku']; }?>"/>
							</div>
							<div id="skuavail" >
								<span class="success-msg skuavailable"><?php echo $helper->__('SKU Available') ?></span>
							</div>
							<div id="skunotavail" >
								<span class="error-msg skunotavailable"><?php echo $helper->__('SKU Already Exist') ?></span>
							</div>
						</li>
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('Price') ?><b><?php $currency_code = Mage::app()->getStore()->getCurrentCurrencyCode(); echo  " (". Mage::app()->getLocale()->currency( $currency_code )->getSymbol().")"; ?></b>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductPriceHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductPriceHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<input type="text" class="required-entry validate-zero-or-greater input-text" name="price" id="price" value="<?php if (isset($wholedata['price'])) { echo $wholedata['price']; }?>"/>
							</div>
						</li>
						<li>
							<label><?php echo $helper->__('Special Price') ?><b><?php $currency_code = Mage::app()->getStore()->getCurrentCurrencyCode(); echo  " (". Mage::app()->getLocale()->currency( $currency_code )->getSymbol().")"; ?></b>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductSpecialPriceHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductSpecialPriceHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<input type="text" class="widthinput input-text validate-zero-or-greater" name="special_price" id="special_price" value="<?php if (isset($wholedata['special_price'])) { echo $wholedata['special_price']; }?>"/>
							</div>
						</li>
						<li>
							<label><?php echo $helper->__('Special Price From') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductSpecialFromDateHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductSpecialFromDateHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<input type="text" name="special_from_date" id="special_from_date" class="input-text" value="<?php if (isset($wholedata['special_from_date'])) { echo $wholedata['special_from_date']; }?>"/>
							</div>
						</li>
						<li>
							<label><?php echo $helper->__('Special Price To') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductSpecialToDateHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductSpecialToDateHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<input type="text" name="special_to_date" id="special_to_date" class="input-text"  value="<?php if (isset($wholedata['special_to_date'])) { echo $wholedata['special_to_date']; }?>"/>
							</div>
						</li>
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('Stock Availability') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductStockAvailabilityHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductStockAvailabilityHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<select id="inventory_stock_availability" class="select" name="is_in_stock">
									<option value="1"><?php echo $helper->__("In Stock"); ?></option>
									<option value="0"><?php echo $helper->__("Out of Stock"); ?></option>
								</select>
							</div>
						</li>
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('Visibility') ?>:</label>
							
							<div class="input-box">
								<select id="visibility" class=" required-entry required-entry select" name="visibility">
									<option value=""><?php echo $helper->__('Please Select')?></option>
									<?php
									$product_visibility = Mage::getModel('catalog/product_visibility')->getOptionArray();
									foreach($product_visibility as $key=>$value){
										?>
										<option value="<?php echo $key ?>" <?php if($key==4){ echo "selected='selected'";}?>><?php echo $value?></option>
									<?php 
									} ?>
								</select>
							</div>
						</li>
						<li>
							<label class="required"><em>*</em><?php echo $helper->__('Tax Class') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductTaxHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductTaxHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<select id="tax_class_id" class=" required-entry required-entry select" name="tax_class_id">
									<option value=""><?php echo $helper->__('Please Select')?></option>
									<option value="0" <?php if (isset($wholedata['tax_class_id']) && $wholedata['tax_class_id']==0) { echo "selected"; }?>><?php echo $helper->__('None')?></option>
									<?php
									$taxes=Mage::getModel('tax/class')->getCollection()
												->addFieldToFilter('class_type',array('eq'=>'PRODUCT'));
									foreach($taxes as $tax){
										?>
										<option value="<?php echo $tax->getId() ?>" <?php if (isset($wholedata['tax_class_id']) && $wholedata['tax_class_id']==$tax->getId()) { echo "selected"; }?>><?php echo $tax->getClassName()?></option>
									<?php 
									} ?>
								</select>
							</div>
						</li>
						<li>
							<label><?php echo $helper->__('Product Images') ?>:</label>
							<?php
							if($product_hint_status && Mage::helper('marketplace')->getProductImageHint()){?>
								<img src="<?php echo $this->getSkinUrl('marketplace/images/quest.png'); ?>" class='questimg' title="<?php echo Mage::helper('marketplace')->getProductImageHint() ?>"/>
							<?php
							} ?>
							<div class="input-box">
								<input type="file" name="images[]" class="wk_imagevalidate"/>
								<input type="radio" value='' class='defaultimage' onClick='defaultimagevalue(this)' name="defaultimage"><span class='defaultimageset'><?php echo $helper->__("Base image"); ?></span><br>
								<a href="#" onClick="showOtherImage(); return false;"><?php echo $helper->__("Add More image"); ?></a><br />
								<div id="otherimages"></div>
							</div>
						</li>
						<?php echo $this->getChildHtml(); ?>
					</ul>
				</div>
			</div>
			<div class="wk_mp_design">
				<div class="block block-account">	
					<div class="block-title">	
						<strong><span><h4><?php echo $helper->__('Meta Information') ?></h4></span></strong>
					</div>
				</div>
				<div class="fieldset wk_mp_fieldset">
					<ul class="form-list" id="wk_bodymain">
						<li>
							<label><?php echo $helper->__('Meta Title') ?>:</label>
							<div class="input-box">
								<input type="text" class="input-text" name="meta_title" id="meta_title" value="" />
							</div>
						</li>
						<li>
							<label><?php echo $helper->__('Meta Keywords') ?>:</label>
							<div class="input-box">
								<textarea name="meta_keyword" id="meta_keyword" rows="5" cols="75" ></textarea>
							</div>
						</li>
						<li>
							<label><?php echo $helper->__('Meta Description') ?>:</label>
							<div class="input-box">
								<textarea name="meta_description" id="meta_description" rows="5" cols="75"></textarea>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</form>
		<script id="imageTemplate" type="text/x-jquery-tmpl">
			<div id='childDiv${index}'>
				<input type='file' name='images[]' class='wk_imagevalidate'/>
				<input type='radio'  onClick='defaultimagevalue(this)'  value=''  class='defaultimage' name='defaultimage'>
				<span class='defaultimageset'>
					<?php echo $helper->__('Base image'); ?>
				</span>
				<a href="javascript:void(0)" onclick="removeEvent('childDiv${index}')"><?php echo $helper->__('Remove'); ?></a>
			</div>
		</script>
		<div class="buttons-set">
			<p class="required">* <?php echo $helper->__('Required Fields') ?></p>		
			<p class="back-link">
				<a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo $helper->__('Back') ?></a>
			</p>
		</div>	
		<?php
		$allowed_images = $helper->getAllowedImageExtension();
		?>	
		<script type="text/javascript">
		if (typeof jQuery == 'undefined'){
		    document.write(unescape("%3Cscript src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
		}
		</script>
		<script src="<?php echo $this->getSkinUrl('marketplace/js/jquery.tmpl.min.js') ?>" type="text/javascript"></script>
		<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS).'tiny_mce/tiny_mce.js' ?>"></script>
		<script type="text/javascript">
		window.onload=function()
		{
		   	tinyMCE.init({
			    mode : "exact",
			    elements: "description,descriptions",
			    theme : "advanced",
			    plugins : "inlinepopups,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras",
			    theme_advanced_buttons1 : "newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
			    theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
			    theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
			    theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,|,visualchars,nonbreaking",
			    theme_advanced_toolbar_location : "top",
			    theme_advanced_toolbar_align : "left",
			    theme_advanced_path_location : "bottom",
			    extended_valid_elements : "a[name|href|target|title|onclick],img[class|src|border=0|alt|title|hspace|vspace|width|height|align|onmouseover|onmouseout|name],hr[class|width|size|noshade],font[face|size|color|style],span[class|align|style]",
			    theme_advanced_resize_horizontal : true,
			    theme_advanced_resizing : true,
			    apply_source_formatting : true,
			    convert_urls : false,
			    force_br_newlines : true,
			    doctype : '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">'
			});
		};
		</script>
		<script> 
		var $wk_jq=jQuery.noConflict();	

		var newCustomerProductForm = new VarienForm('form-customer-product-new', true);

		$wk_jq( "#special_from_date").datepicker({'dateFormat':'yy:mm:dd'});
		$wk_jq( "#special_to_date" ).datepicker({'dateFormat':'yy:mm:dd'});

		var i=2;

		function showOtherImage(){
			$wk_jq("#imageTemplate").tmpl([{'index':i}]).appendTo("#otherimages");
			i++;
		}
		function removeEvent(divNum){
			var d = document.getElementById('otherimages');
			var olddiv = document.getElementById(divNum);
			d.removeChild(olddiv);
			i--;
		}
		function defaultimagevalue(object){
			var strs=$wk_jq(object).prev('input').val().split('\\'); 
		    $wk_jq(object).val(strs[strs.length-1]);
		}
		(function($wk_jq){
			$wk_jq('#save_butn').click(function(e){
				if(newCustomerProductForm.validator.validate()!=false){		
					var desc = tinyMCE.get('description').getContent(); 
					var short_desc = tinyMCE.get('descriptions').getContent(); 
					$wk_jq('#advice-required-entry-description').remove();
					$wk_jq('#advice-required-entry-descriptions').remove();
					if(desc=="" || desc==null){
						$wk_jq('#advice-required-entry-description').remove();
						$wk_jq('#description').parent().append('<div class="validation-advice" id="advice-required-entry-description">This is a required field.</div>');
					}
					if(short_desc=="" || short_desc==null){ 
						$wk_jq('#advice-required-entry-descriptions').remove();
						$wk_jq('#descriptions').parent().append('<div class="validation-advice" id="advice-required-entry-descriptions">This is a required field.</div>'); 
					}
					if((desc!="" && desc!=null) && (short_desc!="" && short_desc!=null)){ 
						$wk_jq('#save_butn span span').text('<?php echo $helper->__("Saving")?>..');
						$wk_jq('.button').css('opacity','0.7'); 
						$wk_jq('.button').css('cursor','default'); 
						$wk_jq('.button').attr('disabled','disabled'); 
						$wk_jq('#form-customer-product-new').submit(); 
					}else{
						return false;
					}
				}
			});
			
			$wk_jq('.input-text').change(function(){
				var validt = $wk_jq(this).val();
				var regex = /(<([^>]+)>)/ig;
				var mainvald = validt .replace(regex, "");
				$wk_jq(this).val(mainvald);	
		    });

		    $wk_jq("body").delegate('.wk_imagevalidate',"change",function(){
				$wk_jq( ".defaultimage" ).prop( "checked",false);
				var ext = $wk_jq(this).val().split('.').pop().toLowerCase();
				if($wk_jq.inArray(ext, [<?php echo $allowed_images ?>]) == -1) {
					$wk_jq(this).val('');
					alert('<?php echo $helper->__("Invalid extension! Please Upload an image")?>');
				}
			});

			$wk_jq('input#sku').change(function(){
				var len=$wk_jq('input#sku').val();
				var len2=len.length;
				if(len2==0){
					alert('<?php echo $helper->__("SKU can\'t be left empty")?>');
					$wk_jq('div#skuavail').css('display','none');
					$wk_jq('div#skunotavail').css('display','none');
				}
				else{
					$wk_jq.ajax({
						url: "<?php echo Mage::getUrl('marketplace/marketplaceaccount/verifysku');?>",
						type: "POST",
						data: {sku:$wk_jq('input#sku').val()},
						dataType: 'html',
						success:function($data){
							$data=JSON.parse($data);
							if($data.avl==1){
								$wk_jq('div#skuavail').css('display','block');
								$wk_jq('div#skunotavail').css('display','none');
							}
							else{
								$wk_jq('div#skunotavail').css('display','block');
								$wk_jq('div#skuavail').css('display','none');
								$wk_jq("input#sku").attr('value','');
							}
						}
					});
				}
			});

			$wk_jq("#wk_bodymain").delegate('.wk_plus ,.wk_plusend,.wk_minus, .wk_minusend ',"click",function(){
				var thisthis=$wk_jq(this);	
				if(thisthis.hasClass("wk_plus") || thisthis.hasClass("wk_plusend")){
					if(thisthis.hasClass("wk_plus"))
						thisthis.removeClass('wk_plus').addClass('wk_plus_click');
					if(thisthis.hasClass("wk_plusend"))
						thisthis.removeClass('wk_plusend').addClass('wk_plusend_click');
					thisthis.prepend("<span class='wk_node_loader'></span>");
					$wk_jq.ajax({
						url  	:   "<?php echo $this->getUrl('marketplace/marketplaceaccount/categorytree/');?>",
						type 	:   "POST",
						data 	:   {CID:thisthis.siblings("input").val(),
									ML:thisthis.parent(".wk_cat_container").css("margin-left").replace("px","")},
						dataType:   "html",
						success :   function(content){
							var newdata=  $wk_jq.parseJSON(content);
							len= newdata.length;
							var pxl= parseInt(thisthis.parent(".wk_cat_container").css("margin-left").replace("px",""))+20;
							thisthis.find(".wk_node_loader").remove();
							if(thisthis.attr("class") == "wk_plus")
							thisthis.attr("class","wk_minus");
							if(thisthis.attr("class") == "wk_plusend")
								thisthis.attr("class","wk_minusend");
							if(thisthis.attr("class") == "wk_plus_click")
								thisthis.attr("class","wk_minus");
							if(thisthis.attr("class") == "wk_plusend_click")
								thisthis.attr("class","wk_minusend");
						    for(i=0;i<len; i++){     
								id=newdata[i].id;
								nam=newdata[i].name;
								if(newdata[i].counting ==0){
									thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_no"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" name="category[]" value='+ id +'></div>');
								}else{
									thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_plusend"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" name="category[]" value='+ id +'></div>');   
								}
							}
							thisthis.parent(".wk_cat_container").nextAll().slideDown(300);
						}
					});			
				}
				if(thisthis.hasClass("wk_minus") || thisthis.hasClass("wk_minusend")){
					if(thisthis.attr("class") == "wk_minus")
						thisthis.attr("class","wk_plus");
					if(thisthis.attr("class") == "wk_minusend")
						thisthis.attr("class","wk_plusend");
					var thiscategory = thisthis.parent(".wk_cat_container");
					var marg= parseInt(thiscategory.css("margin-left").replace("px",""));
					while(thiscategory.next().hasClass("wk_removable")){
					  
					if(parseInt(thiscategory.next().css("margin-left").replace("px",""))>marg)
						thiscategory.next().slideUp("slow",function(){$wk_jq(this).remove();});
						thiscategory = thiscategory.next();	
						if(typeof thiscategory.next().css("margin-left")!= "undefined"){
							if( marg==thiscategory.next().css("margin-left").replace("px",""))
							{
							  break;
							}
						}
					}
				}		
			});
		})($wk_jq);
		</script>
		<?php
		Mage::getSingleton('core/session')->setProductFormData('');
	}
}else{ ?>
	<h2 class="wk_mp_error_msg">
		<?php echo $helper->__("To Become Seller Please Contact to Admin."); ?>
	</h2>
	<?php
} ?>