<?php
/**
 * @copyright    Copyright (C) 2015 IcoTheme.com. All Rights Reserved.
 */
?>
<?php $_cartQty = $this->getSummaryCount() ?>
<div class="cart-container">
    <a href="javascript:void(0);" title="Cart header" onclick="mobileSkipLink(this);" class="icon-cart-header skip-link" data-target-element="#navbar-cart">
        <span class="icon_bag_alt"></span>
    </a>
    <div id="navbar-cart" class="cart-wrapper skip-content">
        <div class="cart-content">
            <?php
            $_items = $this->getRecentItems($_cartQty);
            if (count($_items)):
                ?>
                <ul class="clearfix">
                    <?php foreach ($_items as $_item): ?>
                        <?php echo $this->getItemHtml($_item) ?>
                    <?php endforeach; ?>
                </ul>
                <p class="subtotal">
                    <?php if ($this->canApplyMsrp()): ?>
                        <span class="map-cart-sidebar-total"><?php echo $this->__('ORDER TOTAL WILL BE DISPLAYED BEFORE YOU SUBMIT THE ORDER'); ?></span>
                    <?php else: ?>
                        <span class="label"><?php echo $this->__('Total:') ?></span> <?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?>
                        <?php if ($_subtotalInclTax = $this->getSubtotalInclTax()): ?>
                            <br/>(<?php echo Mage::helper('checkout')->formatPrice($_subtotalInclTax) ?> <?php echo Mage::helper('tax')->getIncExcText(true) ?>)
                        <?php endif; ?>
                    <?php endif; ?>
                </p>
            <?php else: ?>
                <p class="no-items-in-cart"><?php echo $this->__('You have no items in your shopping cart.') ?></p>
            <?php endif ?>
        </div>
        <?php if (count($_items)):?>
            <div class="cart-checkout">
                <a href="<?php echo $this->getUrl('checkout/cart') ?>" class="btn-button view-cart">
                    <span><?php echo $this->__('View cart') ?></span>
                </a>
                <?php if (Mage::getStoreConfig('opc/global/status')) { ?>
                    <a href="<?php echo $this->getUrl('onepage') ?>" class="btn-button "><span><?php echo $this->__('Checkout') ?></span></a>
                <?php } else { ?>
                    <a href="<?php echo $this->getCheckoutUrl() ?>" class="btn-button "><span><?php echo $this->__('Checkout') ?></span></a>
                <?php } ?>
            </div>
        <?php endif;?>
    </div>
</div>