@media (min-width: 1200px) {
    .header-wrapper .header-container .header-maincart,
    .header-wrapper .header-container .header-setting {
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
}

/* 960px <= width < 1200px */
@media only screen and (min-width: 960px) and (max-width: 1200px) {

}

/* Design for a width of 960-1024 px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 940px <= width < 1170px */
@media (min-width: 940px) and (max-width: 1170px) {
    .header-wrapper .header-container .main-header .logo {
        padding: 15px 10px;
    }
    .header-wrapper .header-container .header-maincart,
    .header-wrapper .header-container .header-setting {

    }
    .newslettter .block-subscribe form .block-content .actions button.button {
        padding: 0 40px;
    }
    .top-navigation a {
        padding: 0 10px;
    }
    div.main-navigation ul.top-navigation .menu-wrap-sub {
        width: 99%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .header-wrapper .header-container .header-maincart,
    .header-wrapper .header-container .header-setting {

    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    /*****Product Detail*****/
    .product-view .product-img-box .product-img-list .more-views-verticle {
        width: 85px;
    }

    .product-view .product-img-box .product-img-list .more-views-verticle .media-list {
        width: 85px;
        height: 348px;
        overflow: hidden;
        margin-top: 6px;
        margin-bottom: 5px;
    }

    .product-view .product-shop {
        margin-top: 0px;
    }

    .product-view .product-shop .product-options-bottom .add-to-cart .input-box {
        margin: 12px 10px 5px 0;
    }

    .product-view .product-img-box .product-img-list .more-views-verticle .media-list .verticl-carousel a {
        width: 85px;
        margin-bottom: 8px;
    }

    .product-view .product-img-box .product-img-list .more-views-verticle .more-views-nav {
        padding: 0;
        line-height: 10px;
        height: 10px;
    }

    .product-view .product-img-box .product-img-list .more-views-verticle .more-views-nav i {
        line-height: 10px;
    }

    .category-products .products-grid .product-image img, .category-products .products-list .product-image img {
        max-width: 100%;
    }

    .main-container .slide-home .owl-wrapper .owl-item .slide-content .slide-inner-content {
        width: 60%;
    }
    .main-container .deal-of-day .content {
        width: 40%;
        top: 7%;
    }

    .main-container .deal-of-day .content span.title {
        font-size: 40px;
    }

    .main-container .deal-of-day .content .wrapper-product-date .product-date div {
        width: 80px;
        margin-right: 20px;
    }
    .main-container .deal-of-day .content .wrapper-product-date .product-date div span.no {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 36px;
    }
    .main-container .deal-of-day .content .wrapper-product-date {
        margin-bottom: 10px;
    }

}

@media (max-width: 980px) {

}

/* Iphone 5 landscape */
@media (max-width: 767px) {
    .cms-index-index .header-wrapper .header-container #mobile-sticky-sticky-wrapper {
        height: auto;
    }
    .header-wrapper .header-container #mobile-sticky-sticky-wrapper {
        height: 50px;
    }
    .header-wrapper .header-container .sticky-wrapper {
        height: auto;
    }
    .header-wrapper .header-container .container {
        margin: 0;
        padding: 0;
    }

    .header-wrapper .header-container .main-header .wrapper-top-menu {
        float: right;
    }

    .header-wrapper .header-container .main-header .right-header-menu {
        position: relative;
        float: right;
    }

    .header-wrapper .header-container .header-search,
    .header-wrapper .header-container .header-maincart,
    .header-wrapper .header-container .header-setting {
        width: 45px !important;
    }

    .header-wrapper .header-container .main-header .logo {
        padding: 4px 0 6px 0;
    }

    .header-wrapper .header-container .is-sticky .main-header .logo {
        padding: 4px 0 6px 0;
    }

    .header-wrapper .header-container .main-header .logo img,
    .header-wrapper .header-container .is-sticky .main-header .logo img{
        height: 40px;
        padding: 0 5px;
    }
    .header-wrapper .header-container .header-search {
        bottom: -81px;
    }
    .header-wrapper .header-container .header-maincart .cart-container,
    .header-wrapper .header-container .header-setting .setting-switcher {
        padding: 0 !important;
    }

    .header-wrapper .header-container .main-header .right-header-menu .cart-container .icon-cart-header span,
    .header-wrapper .header-container .main-header .right-header-menu .header-search .search-container .overwrite-setting,
    .header-wrapper .header-container .is-sticky .main-header .right-header-menu .header-search .search-container .overwrite-setting,
    .header-wrapper .header-container .is-sticky .main-header .right-header-menu .cart-container .icon-cart-header span,
    .header-wrapper .header-container .is-sticky .main-header .right-header-menu .header-setting .setting-switcher .overwrite-setting span,
    .header-wrapper .header-container .main-header .right-header-menu .header-setting .setting-switcher .overwrite-setting span{
        width: auto;
        line-height: 50px;
    }
    .cms-index-index .header-wrapper .header-container .main-header .right-header-menu .header-maincart {
        border-left: 1px solid rgba(248,248,248,0.3);
    }

    .header-setting .switcher-wrap .switcher-content,
    .header-myaccount .switcher-wrap .switcher-content,
    .header-container .header-maincart .cart-container:hover .cart-wrapper{
        right: -50px;
        top: 50px;
    }
    .header-wrapper .header-container .header-maincart .cart-container .cart-wrapper {
        margin: 0 !important;
        right: -100px !important;
    }

    .header-wrapper .header-container .is-sticky .main-header .right-header-menu .cart-container:hover .cart-wrapper {
        top: 50px;
        right: -100px;
        margin: 0 !important;
    }

    .header-wrapper .header-container .main-header .right-header-menu .header-search .search-container .switcher-content {
        top: 50px;
        right: -140px;
    }

    .cms-index-index .header-wrapper .header-container .main-header .right-header-menu .header-setting {
        border-left: 1px solid rgba(248,248,248,0.3);
        border-right: 1px solid rgba(248,248,248,0.3);
    }

    .cms-index-index .header-wrapper .header-container .is-sticky .main-header .right-header-menu .header-setting .setting-switcher .overwrite-setting span {
        border-right: #dcdcdc solid 1px;
    }

    .header-wrapper .header-container .is-sticky .navbar .navbar-header .navbar-toggle .icon-bar {
        background-color: #181818 !important;
    }

    .header-wrapper .header-container .main-header .right-header-menu .header-setting .setting-switcher .overwrite-setting span:before {
        content: "\f013";
    }

    .header-wrapper .header-container .header-content .header-logo a {
        width: 135px;
    }

    .header-wrapper .header-container .header-maincart .cart-container .icon-cart-header span.total {
        left: 12px;
        padding: 1px 6px;
    }
    .nav-accordion.nav-mobile-accordion {
        padding-bottom: 20px;
    }
    .nav-accordion.nav-mobile-accordion li span.collapse {
        right: 15px;
        left: auto !important;
    }

    .nav-accordion.nav-mobile-accordion li span.expand {
        right: 10px;
        left: auto !important;
        line-height: 14px;
        height: 20px;
        background-position: 5px -35px;
        width: 20px;
        top: 12px;
    }

    .header-wrapper .header-container .header-search .search-container .main-form-search {
        margin-top: 15px;
        right: -40px;
    }

    .header-wrapper .header-container .header-setting .switcher-wrap .switcher-content {
        margin-top: 14px;
    }

    .header-wrapper .header-container .header-maincart .cart-container .cart-wrapper {
        margin-top: 15px;
        right: -23px;
    }
    .main-container .widget-products-new h3.title-widget span {
        width: 210px;
        font-size: 17px;
    }
    .main-container .widget-products-related h3.title-widget span,
    .main-container .blog-homepage h3.title-widget span,
    .main-container .main-wrapper .brands-container h3.title span {
        width: 255px;
        font-size: 16px;
    }

    .header-wrapper .header-container .is-sticky .main-header .header-setting .setting-switcher .switcher-content {
        margin-top: 14px !important;
    }

    .header-wrapper .header-container .is-sticky .main-header .header-search .search-container .main-form-search,
    .header-wrapper .header-container .is-sticky .main-header .header-maincart .cart-container .cart-wrapper {
        margin-top: 15px !important;
    }

    /*======Block home======*/
    .main-container .block-container .fashion_look .content {
        top: 26%;
        left: 23%;
    }
    .main-container .block-container .fashion_look h3 {
        font-size: 20px;
        top: 15%;
        line-height: 30px;
    }
    .main-container .block-container .new_shoes .content {
        top: 5%;
        font-size: 25px;
    }
    .main-container .block-container .new_shoes h3 {
        font-size: 13px;
    }
    .main-container .block-container .banner_top .content {
        top: 0;
        left: 0;
    }
    .main-container .block-container .banner_top .content h3 {
        font-size: 13px;
    }
    .main-container .block-container .banner_top .content span.text {
        font-size: 12px;
        font-weight: 400;
        visibility: hidden;
    }
    .main-container .block-container .banner_top .view-more, .main-container .block-container .new_shoes .view-more, .main-container .block-container .fashion_look .view-more {
        bottom: 15px;
        font-size: 12px;
        display: none;
    }
    .main-container .banner-static3 > img {
        width: auto;
    }
    .main-container .banner-static3 .banner-box {
        padding: 10px 0 0;
    }
    .main-container .block-count-to > img {
        width: auto;
        max-width: none;
    }
    .main-container .block-count-to .horizontalinner .centered-text p {
        display: none;
    }
    .main-container .block-count-to .horizontalinner #animated-counters {
        padding: 20px 5px 30px;
    }
    .main-container .block-count-to .horizontalinner #animated-counters .columns .counter-value {
        font-size: 20px;
    }
    .main-container .block-count-to .horizontalinner #animated-counters .columns .counter-name {
        font-size: 11px;
        text-align: left;
    }
    /**=========== box cart popup =========**/
    .popup-wrapper .content-wrapper {
        left: 0;
        width: 96%;
        margin: 0 6px;
    }
    .popup-wrapper .content-wrapper .product-detail img {
        width: 100px;
        height: auto;
    }
    .popup-wrapper .content-wrapper .product-detail .action button span {
        padding: 0 2px;
    }
    .popup-wrapper .content-wrapper {
        padding: 10px 1px;
    }
    .popup-wrapper .content-wrapper .product-detail img {
        margin-right: 5px;
    }

    /*============================================================== Main =========================================================================*/

    .main-container .slide-home .owl-wrapper .owl-item .slide-content .slide-inner-content {
        width: 100%;
    }

    .main-container .slide-home .owl-wrapper .owl-item .slide-content .slide-inner-content span.title {
        font-size: 18px;
    }

    .main-container .slide-home .owl-wrapper .owl-item .slide-content .slide-inner-content h3 {
        font-size: 10px;
        line-height: 20px;
    }

    .main-container .slide-home .owl-wrapper .owl-item .slide-content .slide-inner-content .button {
        padding-top: 10px;
    }


    .main-container .slide-home .owl-wrapper .owl-item .slide-content .slide-inner-content h3.title {
        font-size: 20px;

    }

    .main-container .slide-home .owl-wrapper .owl-item .slide-content .slide-inner-content span.content {
        display: none;
    }

    .main-container .slide-home .owl-controls {display: none !important;}

    .main-container .widget-products-new, .main-container .widget-products-related {
        margin: 10px 0;
    }

    .main-container .product_type_home {
        margin-top: 40px;
    }

    .category-products .products-grid .product-image img, .category-products .products-list .product-image img {
        max-width: 100%;
    }

    .main-container .slide-home .owl-wrapper .owl-item .slide-content .slide-inner-content {
        width: 65%;
        top: 20%;
    }

    .header-wrapper .header-container .top-container .slide-home .owl-wrapper .owl-item .slide-content .slide-inner-content .slider-text {
        top: 30%;
    }
    .header-wrapper .header-container .top-container .slide-home .owl-wrapper .owl-item .slide-content .slide-inner-content .slider-text h2 {
        font-size: 15px;
    }

    .tab-product-collection {
        padding: 10px 0;
    }

    .tab-product-collection .tab-selector ul.nav-tabs li {
        margin: 0;
        padding: 0;
        float: left;
        display: block;
        width: 100%;
    }

    .tab-product-collection .tab-selector:after {
        background-color: transparent;
    }

    .tab-product-collection .tab-selector {
        margin-bottom: 40px;
    }
    .main-container .deal {

        overflow: hidden;
    }
    .main-container .deal-of-day {
        min-height: 300px;
        margin-bottom: 20px;
    }
    .main-container .deal-of-day img {
        max-width: 280%;
        width: auto;
    }
    .main-container .deal-of-day .content {
        width: 90%;
    }
    .main-container .deal-of-day .content span.title {
        font-size: 30px;
    }
    .main-container .deal-of-day .content span.intro {
        font-size: 16px;
    }

    .main-container .deal-of-day .content .wrapper-product-date .product-date div {
        width: 70px;
        float: left;
        margin-right: 5px;
    }
    .main-container .deal-of-day .content .wrapper-product-date .product-date div span.no {
        width: 65px;
        height: 60px;
        line-height: 60px;
        font-size: 25px;
    }
    .main-container .deal-of-day .content .wrapper-product-date .product-date div span.text {
        width: 70px;
        font-size: 13px;
        line-height: 25px;
    }
    .main-container .deal-of-day .content .shop-now a {
        font-size: 12px;
        line-height: 35px;
        text-align: center;
        padding: 0 20px;
    }

    .widget-tab-content .products-grid.owl-carousel.owl-theme .owl-controls .owl-buttons div {
        top: 60px;
    }

    .header-wrapper .header-container .top-container .slide-home .owl-controls {
        display: none !important;
    }

    .header-wrapper .header-container .top-container .slide-home .owl-wrapper .owl-item .slide-content .slide-inner-content .slider-text p {
        font-size: 15px;
    }
    .main-container .product_verticle {
        padding-bottom: 30px;
    }

    .main-container .main-wrapper .brands-container, .main-container .blog-homepage {
        margin-top: 30px;
    }

    .brands-container .owl-carousel .owl-item img {
        margin: 0 auto;
    }

    .main-container .block-container .fashion_look h3 {
        font-size: 20px;
    }

    .block-layered-nav .block-content, .block-blog .block-content,
    .footer-wrapper .custom-footer-content{
        display: none;
    }

    /*============Blog==============*/
    .main-container .blog-wrapper .toolbar-bottom .toolbar .col-lg-9.col-md-9.col-sm-9.col-xs-12 .col-lg-9,
    .main-container .blog-wrapper .toolbar-bottom .toolbar .col-lg-9.col-md-9.col-sm-9.col-xs-12 .col-lg-3 {
        width: 100%;
    }
    .toolbar .sorter_wrap .select-new .select-inner span, .toolbar .limiter_wrap .select-new .select-inner span {
        padding-left: 5px;
    }
    .main-container .blog-homepage .owl-carousel .owl-wrapper .owl-item .blog .main_content .content-bottom .midle_content {
        padding: 0 10px;
    }

    /*============================================================== Category products list =========================================================================*/

    .main-container .sidebar .block.block-nav,
    .main-container .sidebar .block.product_verticle,
    .main-container .sidebar .block.block-compare,
    .main-container .sidebar .block.block-poll,
    .main-container .sidebar .block.block-tags {
        display: none;
    }

    .category-products .toolbar .sorter_wrap .select-new .select-inner span,
    .category-products .toolbar .limiter_wrap .select-new .select-inner span{
        padding-left: 5px;
    }

    .category-products .toolbar .limiter_wrap,
    .category-products .toolbar .view-mode span.title {
        display: none;
    }

    .category-products .toolbar .view-mode {
        position: absolute;
        right: 15px;
        top: -48px;
    }

    .category-products .toolbar .view-mode span {
        padding: 0 7px;
        line-height: 49px;
    }

    .category-products .toolbar .sorter_wrap .select-inner .overwrite-sortby {
        padding-left: 2px;
        padding-right: 15px;
    }

    .category-products .toolbar .sorter_wrap .select-inner .overwrite-sortby:after {
        right: 4px;
    }

    .category-products .products-grid .item .product-action .product-new-label,
    .category-products .products-grid .item .product-action .product-sale-label {
        padding: 3px 4px;
        font-size: 11px;
    }

    /*============================================================== Product Detail =========================================================================*/
    .product-view .product-shop .add-to-box .main-add-to-links .add-to-links li a,
    .product-view .product-shop .product-options-bottom .add-to-links li a {
        margin-right: 10px;
    }

    .product-view .product-collateral {
        padding: 35px 15px;
    }

    .product-view .block_product_slidebar_right {
        display: none;
    }

    .product-view .product-collateral .nav-tabs li {
        width: 100%;
        display: block;
    }

    .product-view .product-collateral .tab-content .tab-pane {
        padding: 10px 5px 25px;
    }

    .product-view .product-collateral .tab-content .tab-pane .data-table thead th {
        padding: 1px;
    }

    .product-view .product-shop .product-prev-next .product-next, .product-view .product-shop .product-prev-next .product-prev {
        width: 25px;
    }

    .tab-content {
    }

    .category-products .toolbar-bottom .pager ol {
        display: inline-block;
        margin: 0 auto;
    }

    .product-view .product-img-box .product-img-list .more-views-verticle {
        width: 65px;
    }

    .product-view .product-img-box .product-img-list .more-views-verticle .media-list {
        width: 65px;
        height: 230px;
        overflow: hidden;
        margin-top: 6px;
        margin-bottom: 0px;
    }

    .product-view .product-shop {
        margin-top: 20px;
    }

    .product-view .product-img-box .product-img-list .product-image {
        width: 75%;
    }

    .product-view .product-img-box .product-img-list .more-views-verticle .media-list .verticl-carousel a {
        width: 65px;
        margin-bottom: 5px;
        height: 73px;
        overflow: hidden;
    }

    .product-view .product-img-box .product-img-list .more-views-verticle .more-views-nav {
        padding: 0;
        line-height: 10px;
        height: 10px;
        margin: 7px auto 0 !important;
    }

    .product-view .product-img-box .product-img-list .more-views-verticle .more-views-nav i {
        line-height: 10px;
    }

    .product-view .product-shop .actions-wrapper .add-to-cart {
        padding-left: 10px;
        padding-right: 10px;
    }
    .actions {
        width: 266px;
    }
    .product-view .product-collateral .nav-tabs li {
        border-left: #dcdcdc solid 1px;
    }

    .product-view .product-collateral .tab-content .tab-pane .data-table tbody th {
        padding: 3px;
    }

    .product-view .product-shop .ratings .rating-links {
        padding-left: 0;
        margin-top: 15px;
        width: 100%;
    }
    .customoptionblock {
        margin-bottom: 15px !important;
    }
    .amconf-images-container h1 {
        display: none;
    }
    .amconf-images-container {
        padding-top: 20px;
    }
    .flyPlaid {
        padding: 0;
    }

    /*============================================================== Checkout =========================================================================*/
    .main-container .main-wrapper .opc li .step .col2-set .col-1,
    .main-container .main-wrapper .opc li .step .col2-set .col-2 {
        width: 100%;
    }

    .main-container .main-wrapper .opc li#opc-review .step {
        border: none;
        padding: 0px;
    }

    #checkout-progress-wrapper {
        display: none;
    }

    /*============================================================== Cart =========================================================================*/
    .main-container .main-wrapper .title-buttons {
        text-align: center;
    }

    .main-container .main-wrapper .title-buttons h1 {
        float: none;
        padding: 10px 0;
    }

    .main-container .main-wrapper .checkout-types {
        display: inline-block;
        margin: 0 auto;
    }

    .main-container .main-wrapper .cart-table thead th,
    .main-container .main-wrapper .cart-table tr td {
        display: block;
        float: none;
        text-align: center;
    }

    .main-container .main-wrapper .cart-collaterals {
        margin: 0;
    }

    /*============================================================== Account =========================================================================*/
    .main-container .main-wrapper .account-login .col2-set,
    .main-container .main-wrapper .account-login .col2-set2 {
        width: 100%;
    }

    .main-container .main-wrapper .page-title h1, .main-container .main-wrapper .page-title h2, .main-container .main-wrapper .page-title h3 {
        padding-left: 15px;
    }

    .main-container .main-wrapper .buttons-set {
        padding: 0 0px;
    }

    /*============================================================== Footer =========================================================================*/
    .footer-wrapper .footer-bottom {
        margin-top: 30px;
    }

    .newslettter .block-subscribe form .block-content .input-box {
        margin-right: 0px;
    }
    .newslettter .block-subscribe form .block-content .input-box input {
        width: 185px;
    }
    .newslettter .block-subscribe form .block-content .actions button.button {
        padding: 0;
    }

    .footer-wrapper .footer-top .footer-top-discount .item {
        border-right: none;
    }

    .footer-wrapper .footer-bottom .intro_footer {
        margin-bottom: 15px;
        overflow: hidden;
    }

    .footer-wrapper .footer-bottom .product_link {
        overflow: hidden;
        width: 100%;
    }

    .footer-wrapper .footer-bottom .footer-block-title {
        padding-bottom: 5px;
    }

    .footer-wrapper .footer-bottom .footer-block-title h2 {
        font-size: 100%;
    }

    .footer-top .list-footer, .footer-top .list-footer .newslettter {
        border: 0;
    }
    .footer-top .list-footer .footer-links {
        margin: 0;
    }

    .footer-top .list-footer .newslettter .block-subscribe {
        padding: 0;
    }

    .footer-top .list-footer .footer-links .info-footer h3 {
        margin-top: 20px;
        margin-bottom: 0px;
        line-height: 35px;
    }

    .main-container .block-container .banner_top .content h3 {
        font-size: 30px;
    }

}

/* Tablet (Portrait) - design for a width of 768px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 768px <= width < 960px */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All desktop - design for a width of 768px and wider
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 768px <= width */
@media only screen and (min-width: 768px) {

}

/* 480px <= width < 768px */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* 640px <= width < 768px */
@media only screen and (min-width: 640px) and (max-width: 767px) {

}

/* width < 480px */
@media only screen and (max-width: 479px) {

}

/* Mobile (Portrait) - design for a width of 320px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 320px <= width < 480px */
@media only screen and (min-width: 320px) and (max-width: 479px) {

}

@media only screen and (min-width: 480px) and (max-width: 639px) {

}

/* 360px <= width < 640px */
@media only screen and (min-width: 360px) and (max-width: 640px) {

}

@media (max-width: 640px) {
}

/* width < 320px */
@media only screen and (max-width: 319px) {

}

/* Iphone 4 landscape */
@media (max-width: 480px) {

}

@media only screen and (min-width: 320px) and (max-width: 480px) {

}

@media (max-width: 360px) {

}

/* IPHONE 4 + 5 Portrait */
@media only screen and (min-width: 240px) and (max-width: 320px) {

}