#wantptr label {
    position: relative;
    top: auto;
    left: 0;
}

@media (min-width: 768px) {
    .header-wrapper .header-container .main-header .main-header-top img.x1 {
        display: none;
    }

    .header-wrapper .header-container .main-header .logo-sticky {
        display: block;
    }

}

#block-slide-home .owl-wrapper .inner-content {
    position: relative
}

#block-slide-home .owl-wrapper .inner-content > .slide-msg {
    position: absolute;
    width: 100%;
    top: 100px;
}

#block-slide-home .owl-wrapper .inner-content > .slide-searchbar {
    position: absolute;
    width: 100%;
    top: 350px;
}

#block-slide-home .owl-wrapper .inner-content > .slide-qrcodebar {
    position: absolute;
    width: 100%;
    top: 480px;
}

#block-slide-home .owl-wrapper .inner-content > .slide-qrwrapper {
    display: none;
    position: absolute;
    width: 100%;
    top: 180px;
}

#block-slide-home .owl-wrapper .inner-content > .slide-qrwrapper.active {
    display: block;
}

#block-slide-home .owl-wrapper .inner-content > .slide-qrcodebar span {
    padding: 10px;
    background: url("../images/background40.png") repeat;
    display: inline-block;
    color: #fff;

}

#block-slide-home .owl-wrapper .inner-content > .slide-qrcodebar img {
    width: 36px;
    vertical-align: top;

}

#block-slide-home .owl-wrapper .inner-content > .slide-qrcodebar img:hover {
    cursor: pointer;
}

#block-slide-home .owl-wrapper .inner-content > .slide-qrwrapper .qr_or {
    min-height: 150px;
    vertical-align: middle;
    padding-top: 75px;
    color: #ffffff;
    font-weight: bold;
}

#block-slide-home .owl-wrapper .inner-content > .slide-searchbar > .inner-search input {
    padding: 10px;
    padding-right: 50px;
    margin: 4px 0 0 0;
    border: none;
    border-radius: inherit;

}

#block-slide-home .owl-wrapper .inner-content > .slide-searchbar > .inner-search {
    position: relative;
}

#block-slide-home .owl-wrapper .inner-content > .slide-searchbar > .inner-search button.search > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    /*overflow: hidden;*/
    padding: 0;
    /*position: absolute;*/
    width: 1px;
    color: #000000;
}

#block-slide-home .owl-wrapper .inner-content > .slide-searchbar > .inner-search button.search {
    position: absolute;
    right: 50px;
    bottom: 25px;
    z-index: 1;
    display: inline-block;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;

}

/*#block-slide-home .owl-wrapper .inner-content > .slide-searchbar > .inner-search button.search:before {*/
/*-webkit-font-smoothing: antialiased;*/
/*font-size: 16px;*/
/*line-height: 32px;*/
/*color: #8f8f8f;*/
/*margin: 0;*/
/*vertical-align: top;*/
/*display: inline-block;*/
/*font-weight: normal;*/
/*overflow: hidden;*/
/*speak: none;*/
/*text-align: center;*/
/*}*/

#block-slide-home .owl-wrapper .inner-content > .slide-searchbar > .inner-search input:after {

}

#block-slide-home .owl-wrapper .inner-content > .slide-searchbar > .inner-search {
    position: relative;
    width: 525px;
    margin: 0 auto;
    background: url("../images/background_bar.png") repeat;
}

#block-slide-home .owl-wrapper .inner-content > .slide-searchbar > .inner-search span {
    display: block;
    color: #fff;
}

#block-slide-home .owl-wrapper .inner-content > .slide-searchbar > .inner-search > span.cover-text {
    font-size: 33px;
}

#block-slide-home .owl-wrapper .inner-content > .slide-msg > span {
    padding: 6px 16px;
    font-size: 31px;
    color: red;
    background: #000000;
    opacity: 0.7;
    font-weight: bold;
}

.cms-index-index .header-wrapper .header-container .main-header .main-header-top {
    background: url(../images/background_bar.png) repeat;
}

.cms-index-index .header-wrapper .header-container .sticky-wrapper.is-sticky .main-header .main-header-top {
    background: #ffffff;
}

#outdiv {
    width: 200px;
    height: 150px;
    border: 3px solid #c0c0c0;
    background: #ffffff;
}

#outdiv video {
    width: 200px;
    height: 150px;
}

#outdivfile #qrfile {
    position: relative
}

#outdivfile #out-canvas {
    display: none;
}

#outdivfile #qrfile input {
    position: absolute;
    top: 77px;
    left: 27px;
}

#qr-canvas {
    display: none;
}

#iembedflash {
    margin: 0;
    padding: 0;
}