<?php 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<script type="text/javascript">
    if (typeof jQuery == 'undefined'){
        document.write(unescape("%3Cscript src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
    }
</script>
<?php 
$helper=Mage::helper('marketplace');
$termsConditionUrl = $helper->getTermsConditionUrlLayout2();
?>
<li class="profileurl" id="wantptr">
    <label class="required">
        <?php echo $helper->__('Shop URL');?>
        <em>*</em>
    </label>
    <div class="input-box">
        <input type="hidden" name="wantpartner" value='1'/>
        <input class="input-text required-entry" placeholder="<?php echo $helper->__('Shop URL For Your Marketplace Shop');?>" title="<?php echo $helper->__('Shop URL For Your Marketplace Shop');?>" type="text" name="profileurl" id="wk-shop-url">
    </div>
    <div id="wk_load_conf">
        <img src="<?php echo $this->getSkinUrl('marketplace/images/ajax-loader-tr.gif')?>" height="20px" width="20px">
    </div>
</li>
<li id="wk_termsconditions_box"> 
    <div class="input-box profileurl">
        <input type="checkbox" name="wk_termsconditions" class="checkbox required-entry validation-failed" id="wk_termsconditions">
        <label for="wk_termsconditions"><?php echo $helper->__('Yes, I agree to ')?><a href="<?php echo $termsConditionUrl; ?>" title="Click here" target="_blank"><?php echo __('Terms and Conditions')?></a></label>
    </div>
</li>
<script>
<?php
if($profile_hint_status && Mage::getStoreConfig('marketplace/marketplace_profile/shopurl_seller',Mage::app()->getStore())){
    $shopurl_hint = '<img src="'.$this->getSkinUrl('marketplace/images/quest.png').'" class="questimg" title="'.Mage::getStoreConfig('marketplace/marketplace_profile/shopurl_seller',Mage::app()->getStore()).'"/>';

}else{
    $shopurl_hint = '';
} ?>
var $wk_jq= jQuery.noConflict();
$wk_jq(function(){
    $wk_jq('#email_address').parents('li').after($wk_jq('#wantptr'));
    $wk_jq('#wantptr').show();
    $wk_jq('#password').parents('li').after($wk_jq('#wk_termsconditions_box'));
    $wk_jq('#wk_termsconditions_box').show();

    $wk_jq('ul').delegate('#wk-shop-url','keyup',function(){
        $wk_jq(this).val($wk_jq(this).val().replace(/[^a-z^A-Z^0-9\.\-]/g,''));
    });
    $wk_jq('#form-validate').delegate('#wk-shop-url','change', function(){
        $wk_jq('.unavailable,.available').remove();
        var profileurl=$wk_jq('#wk-shop-url').val();
        $wk_jq('.button').attr('disabled','disabled');
        if(profileurl!=''){
            $wk_jq('#wk_load_conf').show();
            $wk_jq.ajax({
                url:'<?php echo $this->getUrl("marketplace/seller/usernameverify")?>',
                type:'POST',
                data:{profileurl:profileurl},
                dataType:'JSON',
                success:function(data){
                    $wk_jq('#wk_load_conf').hide();
                    if(data==0){
                        $wk_jq('.button').removeAttr('disabled');
                        $wk_jq('.profileurl').append($wk_jq('<span/>').addClass('available message success').text('<?php echo $helper->__("Congratulations! Shop name is available.")?>'));
                    }else{
                        $wk_jq('.profileurl').append($wk_jq('<span/>').addClass('unavailable message error').text('<?php echo $helper->__("Sorry! But this shop name is not available, please set another shop name.")?>'));
                    }
                }
            });
        }
    });
});
</script>
