<?php 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$helper = Mage::helper('marketplace');
$globalProductLimitQty = $helper->getGlobalProductLimitQty();
$productId=$this->getRequest()->getParam('id');
if ($productId) {	
	$productColl = Mage::getModel('catalog/product')->load($productId);
	$productTypeId = $productColl['type_id'];
	$mpProductCartLimit = $productColl['mp_product_cart_limit'];
} else {
	$productTypeId = $this->getRequest()->getParam('type');
	$mpProductCartLimit = '';
}
if ($productTypeId != 'downloadable' && $productTypeId != 'virtual') {
?>
<div class="field">
	<label class="label"><?php echo $helper->__('Allowed Product Qty on Product Purchase for Customer') ?>:</label>
	<div class="control">
		<input type="text" class="input-text" name="mp_product_cart_limit" id="mp_product_cart_limit" value="<?php echo $mpProductCartLimit; ?>"/>
		<span><?php echo $helper->__("By default %s qty will be allowed for customer to add product in cart.", $globalProductLimitQty);?></span>
	</div>
</div>
<?php
} ?>