<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

/** @var $block Webkul_Marketplace_Block_UpsellProducts */

$helper = Mage::helper('marketplace');
$productId=$this->getRequest()->getParam('id');
?>
<table cellspacing="0" class="border wk_mp_list_table wk_mp_list_container_table">
    <thead>
        <tr class="wk_content">
            <th class="wk_check_first_td">
                <span>
                    <input type="checkbox" name="mp-all-upsell-products" value="all" id="mp-all-upsell-products" class="mp-upsell-products" />
                </span>
            </th>
            <th>
                <span>
                    <?php echo $helper->__('Id')?>
                </span>
            </th>
            <th>
                <span>
                    <?php echo $helper->__('Name')?>
                </span>
            </th>
            <th>
                <span>
                    <?php echo $helper->__('Type')?>
                </span>
            </th>
            <th>
                <span>
                    <?php echo $helper->__('Attrib. Set Name')?>
                </span>
            </th>
            <th>
                <span>
                    <?php echo $helper->__('Status')?>
                </span>
            </th>
            <th>
                <span>
                    <?php echo $helper->__('Visibility')?>
                </span>
            </th>
            <th>
                <span>
                    <?php echo $helper->__('SKU')?>
                </span>
            </th>
            <th>
                <span>
                    <?php echo $helper->__('Price')?>
                </span>
            </th>
            <th>
                <span>
                    <?php echo $helper->__('Position')?>
                </span>
            </th>               
        </tr>
    </thead>
    <tbody>
        <?php 
        $i = 0;
        foreach($this->getCollection() as $products){
            $i++;
            $productMediaConfig = Mage::getModel('catalog/product_media_config');
            $_product=Mage::getModel('catalog/product')->load($products->getId());
            ?>
            <tr class="wk_row_view <?php echo $class = ($i == count($this->getCollection()))? 'wk_last_tr':''?>">
                <td class="wk_check_first_td">
                    <span>
                        <input type="checkbox" name="product_mass_delete[]" class="mp-upsell-products" id="mp-upsell-products-checkbox<?php echo $_product->getEntityId(); ?>" value="<?php echo $_product->getEntityId(); ?>"/>
                    </span>
                </td>
                <td class="wk-mp-grid-id-cell">
                    <span data-val="<?php echo $_product->getEntityId();?>">
                        <?php echo $_product->getEntityId();?>
                    </span>
                </td>
                <td class="wk-mp-grid-name-cell">
                    <span data-val="<?php echo $_product->getName();?>">
                        <?php echo $_product->getName();?>
                    </span>
                </td>
                <td class="wk-mp-grid-type-cell">
                    <span data-val="<?php echo $_product->getTypeId();?>">
                        <?php echo $_product->getTypeId();?>
                    </span>
                </td>
                <td class="wk-mp-grid-attributeset-cell">
                    <span data-val="<?php echo $this->getAllowedSetsLabel($_product->getAttributeSetId());?>">
                        <?php echo $this->getAllowedSetsLabel($_product->getAttributeSetId());?>
                    </span>
                </td>
                <td class="wk-mp-grid-status-cell">
                    <span data-val="<?php echo $_product->getStatus();?>">
                        <?php echo $_product->getStatus();?>
                    </span>
                </td>
                <td class="wk-mp-grid-visibility-cell">
                    <span data-val="<?php echo $_product->getVisibility();?>">
                        <?php echo $_product->getVisibility();?>
                    </span>
                </td>
                <td class="wk-mp-grid-sku-cell">
                    <span data-val="<?php echo $_product->getSku();?>">
                        <?php echo $_product->getSku();?>
                    </span>
                </td>
                <td class="wk-mp-grid-price-cell">
                    <span data-val="<?php echo Mage::helper('core')->currency($_product->getPrice(), true, false);?>">
                        <?php echo Mage::helper('core')->currency($_product->getPrice(), true, false);?>
                    </span>
                </td>
                <td class="wk-mp-grid-position-cell">
                    <span data-val="<?php echo $_product->getPosition();?>">
                        <input type="text" name="position" class="wk-mp-grid-position-cell-box" id="wk-mp-grid-position-cell-box<?php echo $_product->getId(); ?>" data-val="<?php echo $_product->getId(); ?>" value="<?php echo $_product->getPosition(); ?>" disabled/>
                    </span>
                </td>             
            </tr>
            <?php
        }?>
    </tbody>
</table>
<?php echo $this->getPagerHtml();?>